.flexContainer{
display: flex;
flex-direction: row;
}

.flex{
  width:33%;
  margin: 5px;
  padding: 5px;
}

h1 {text-align: center;}



.workGrid{
margin-left:auto;
margin-right:auto;
display: grid;
grid-template-areas:'a1 a2' 'a3 a4';
padding:10px;
grid-gap:10px;
width:70%;
grid-template-columns: 50% 50%;
grid-template-rows: auto auto;
}

.pic1{
  grid-area:a1;
  width:90%;
}

.pic2{
  grid-area:a3;
  width:90%;
}

.txt1{
  grid-area:a2;
  width:90%;
}

.txt2{
  grid-area:a4;
  width:90%;
}

html {
  font-family: Roboto, Arial, sans-serif;
}


@media only screen and (max-width: 600px){
.flexContainer{
display: flex;
flex-direction: column;
}

.flex{
  width:100%;
  margin: 5px;
  padding: 5px;
}

.workGrid{
margin-left:auto;
margin-right:auto;
display: grid;
grid-template-areas:'a1' 'a2' 'a3' 'a4';
padding:10px;
grid-gap:10px;
width:100%;
grid-template-columns: 100%;
grid-template-rows: auto;
}

}